<h1>Novo Artigo</h1>
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title, 'Titulo' %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :text, 'Texto' %><br>
    <%= form.text_area :text, placeholder: "Escreva seu Artigo" %>
  </p>
  <p>
    <%= form.submit 'Enviar' %>
  </p>
<% end %>

<%= link_to 'Voltar', articles_path %>